body {
  font-family: 'Roboto', sans-serif;
}

.pd_bottom {
  padding-bottom: 30px;
}

/* Colori */
.hamburger,
.jumbotron_right small a,
.bullet a,
.feature_box a,
.brand_logo a {
  color: #2485FD;
}

.bg_grey {
  background-color: #F3F5F9;
}

.brand_logo h6,
.section_title p {
  color: #6F7B97;
}


/* Buttons */
.btn_blue {
  border-color: #2485FD;
  color: #2485FD;
  font-weight: 500;
  padding: 3px 12px;
}

.btn_blue:hover {
  border-color: #2485FD;
  background-color: #2485FD;
  color: #fff;
}

.sign_up {
  background-color: #579AFF;
  color: #fff;
  border-color: #579AFF;
  font-weight: 500;
}

.sign_up:hover {
  background-color: #fff;
  color: #579AFF;
}

.sign_up_google{
  background-image: url(../img/google-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: 500;
  box-shadow: 1px 1px 1px #ccc;
  opacity: 0.5;
}

.sign_up_google:hover {
  opacity: 1.0;
}

/* Navbar */
.navbar {
  line-height: 44px;
  background-color: #fff;
}

.logo img {
  width: 100%;
}

.navbar ul li a {
  color: #031b4f;
  font-weight: 500;
}

/* Jumbotron */
.jumbotron_do {
  background-image: url(../img/bg-hero.svg);
  background-size: cover;
  background-position: bottom right;
  margin-top: 46px;
  margin-bottom: 0;
}

.jumbotron_left {
  color: #fff;
}

.jumbotron_left h1 {
  font-size: 54px;
}

.jumbotron_left p {
  color: #BBCDFF;
  font-weight: 500;
}

.jumbotron_right {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.jumbotron_right h2 {
  font-size: 24px;
  font-weight: 600;
  color: #031b4f;
}

.jumbotron_right h2:nth-child(2) {
  color: #0060FF;
  margin-top: 10px;
}

.jumbotron_right input {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #e5e8ed;
  border-radius: 5px;
  line-height: 30px;
}

.jumbotron_right small {
  font-size: 12px;
  font-weight: 500;
  color: #031b4f;
}

.jumbotron_right small a {
  text-decoration: underline;
}

/* Prima section */
.brand_logo {
  padding: 20px 0;
}

.brand_logo img {
  width: calc(50% - 4px);
  padding: 10px;
}

.brand_logo a {
  display: block;
}

/* Seconda Section */
.section_title {
  margin-top: 60px;
  margin-bottom: 50px;
}

.section_title h2 {
  font-size: 25px;
  font-weight: 600;
  color: #031b4f;
}

.section_title_white {
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.section_title p {
  font-weight: 500;
  font-size: 18px;
}
.list_feature li {
  list-style: none;
  border-left: 1px solid #ccc;
}

.list_feature li a {
  font-size: 17px;
  line-height: 35px;
  text-decoration: none;
  color: #6F7B97;
  padding-left: 10px;
}

.feature_box {
  margin-top: 15px;
}

.feature_box h5 {
  color: #031b4f;
  font-size: 16px;
}

.feature_box p {
  color: #5b6987;
}

/* Terza Section */
.carousel {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
}

.carousel img {
  width: 80%;
}

.carousel_text p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #031b4f;
}

.bullet a {
  font-size: 12px;
}

/* Quinta Section "World" */
.world_do {
  background-image: url(../img/bg-map.svg);
  background-size: cover;
  background-color: #031B51;
  color: #fff;
}

.world_do table tr:not(:nth-child(6)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.world_do table {
  width: 100%;
}

.world_do table tr td {
  padding: 10px;
}

.world_do table tr td:nth-child(2) {
  width: 71%;
  color: #fff;
  opacity: 0.6;
}

.world_do table tr td a {
  color: #00d7d2;
}

.world_do table tr td a:hover {
  color: #1633ff;
  text-decoration: none;
}

/* Sesta Section */
.carousel_quote {
  background-color: #fff;
  width: 99%;
  height: auto;
  margin: 0 10px;
  border-radius: 10px;
}

.carousel_quote img {
  width: 200px;
}

.carousel_quote h3 {
  font-size: 22px;
}

.carousel_quote span, .carousel_link {
  display: block;
  font-size: 16px;
}

.carousel_link {
  padding: 20px 0 50px 0;
}

/* Responsive */
/* Large Desktop */
@media screen and (min-width: 1200px) {
  .brand_logo img {
    width: calc((100% / 6) - 4px);
  }

  .carousel_quote {
    background-color: #fff;
    width: 600px;
    height: auto;
  }

}

/* Small Desktop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .carousel img {
    width: 700px;
  }

  .brand_logo img {
    width: calc((100% / 6) - 4px);
  }

  .world_do table tr td:nth-child(2) {
    width: 65%;
  }

  .carousel_quote img {
    width: 200px;
  }

  .carousel_quote {
    background-color: #fff;
    width: 600px;
    height: auto;
  }

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .brand_logo img {
    width: calc((100% / 6) - 4px);
  }

  .carousel img {
    width: 500px;
  }

  .carousel_quote img {
    width: 200px;
  }

  .carousel_quote {
    background-color: #fff;
    width: 600px;
    height: auto;
  }
}
